{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Оценивание групп по критериям</title>
    <link href="{% static "css/bootstrap.min.css" %}" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="{% static "js/generation.js" %}">
    </script>
</head>
<body>
<br>

<div class="row">
    <div class="col-xs-5">
        <div class="container">
            <div class="col-md-5">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Группа</th>
                        <th scope="col">Жюри</th>
                        <th scope="col">???</th>
                        <th scope="col">Разница</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for old, new, diff, name in ranking %}
                        <tr>
                            <th scope="row">{{ name }}</th>
                            <td id="old{{ forloop.counter0 }}">{{ old }}</td>
                            <td id="new{{ forloop.counter0 }}">{{ new }}</td>
                            <td id="dif{{ forloop.counter0 }}">{{ diff }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-xs-7">
        <div class="container">
            <form name="form" action="{% url "cmp:base" %}" method="post">
                {% csrf_token %}
                {% for cr in all_criteria %}
                    {% if cr|length > 1 %}
                        <p>Наука</p>
                    {% endif %}
                    {% for key, value in cr.items %}
                        <p>{{ key }}</p>
                        <div class="row">
                            {% for v in value %}
                                <div class="form-group col-xs-1">
                                    <label>{{ v.0 }}</label>
                                    <input class="form-control" id="{{ counter_id }}" name="{{ counter_name }}"
                                           type="text"
                                           value="{{ v.1 }}">
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endfor %}
                <button type="submit" class="btn btn-primary labelText">
                    Применить
                </button>
            </form>
        </div>
        <button сlass="btn btn-primary labelText" onclick="gen()">
            Генерация
        </button>
    </div>
</div>
{#</div>#}
</body>
<script>
    function func1() {
        var len = 15;
        var color = "";
        colors = ["#ff0000",
            "#ff2700", "#ff3a00", "#ff4800", "#ff5500", "#ff6000", "#ff6a00", "#ff7400", "#ff7d00",
            "#ff8600", "#ff8f00", "#ff9700", "#ff9f00", "#ffa800", "#ffaf00", "#ffb700", "#ffbf00", "#ffc700", "#ffce00",
            "#ffd600", "#ffde00", "#ffe500", "#ffec00", "#fff400", "#fffb00", "#fafc00", "#f1f700", "#e8f200", "#dfed00",
            "#d6e700", "#cde200", "#c4dd00", "#bbd800", "#b2d200", "#a9cd00", "#a1c800", "#98c300", "#8fbe00", "#86b800",
            "#7db300", "#73ae00", "#6aa900", "#61a400", "#579f00", "#4d9a00", "#439400", "#388f00", "#2b8a00", "#1b8500",
            "#008000"];

        for (i = 0; i < len; i++) {
            perc = document.getElementById("dif" + i).innerText;
            color = colors[50 - Math.ceil(perc)];
            document.getElementById("old" + i).style.backgroundColor = color;
            document.getElementById("new" + i).style.backgroundColor = color;
        }
    }

    window.onload = func1;

</script>


</html>