.main-block {
    background-color: white;
    min-height: calc(100vh - 100px);
    overflow: auto;
}

html {
    position: relative;
    min-height: 100vh;
}

.header {
    background-color: #4dacb6;
    margin: 0;
    border: none;
    border-radius: 0;
}

.dropdown-menu {
    background-color: #1f8d7e !important;
}

.padded-right {
    padding-left: 50px;
    padding-right: 14px;
}

body {
    margin-top: 50px;
    font-family: Calibri, monospace;
}