<br>
<div style="font-family: 'Arial';font-size: 13pt">
<span><b>Согласованность мнений комиссии</b></span> : <span id="exp_est">хорошо</span> (<span id="ken_coef">{{ kendall_coef }}</span>)
</div>


<table id="values" class="table table-striped table-bordered">
    <caption class="text-center" style="font-family: 'Arial',monospace"><strong>Согласованные группы мнений</strong>
    </caption>
    <thead class="thead thead-light">
    <br>
    <tr>
        <th>Заявка</th>
        {% for cluster, jurys  in clusters_jury.items %}
            <th><b>Группа {{ cluster|add:1 }}</b></th>
            {% for jury in jurys %}
                <th>{{ jury }}</th>
            {% endfor %}
        {% endfor %}
    </tr>
    </thead>
    <tbody>

    {% for part_name, ests in req_ranks.items %}
        <tr>
            <td style="width: 50px">{{ part_name }}</td>
            {% for label_values in ests %}
                {% for label_val in label_values %}
                    {% if forloop.first %}
                        <td style="background-color: #5bc0de">{{ label_val }}</td>
                    {% else %}
                        <td>{{ label_val }}</td>
                    {% endif %}
                {% endfor %}
            {% endfor %}

        <tr>
    {% empty %}
        <td colspan="8" class="text-center bg-warning">Нет результатов</td>
    {% endfor %}


    </tbody>
</table>