{% extends 'fls/base.html' %}

{% block title %}
    Схожесть жюри
{% endblock %}
{% block style %}
    <style>
        th.notbold {
            font-weight: normal;
        }
    </style>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Аналитика результатов</a>
            </div>
            <ul class="nav navbar-nav">
                {% if selected_comp_id %}
                    <li class="active"><a href={% url 'fls:simjury' selected_comp_id %}>Сходство оценок</a></li>
                    <li><a href="{% url 'fls:metcomp' selected_comp_id %}">Отклонения от правил</a></li>
                    <li><a href="{% url 'fls:devpage' selected_comp_id %}">Согласованность по заявке</a></li>
                    <li><a href="{% url 'fls:coherpage' selected_comp_id %}">Согласованность по всем заявкам</a></li>
                {% else %}
                    <li class="active"><a href={% url 'fls:simjury' %}>Сходство оценок</a></li>
                    <li><a href="{% url 'fls:metcomp' %}">Отклонения от правил</a></li>
                    <li><a href="{% url 'fls:devpage' %}">Согласованность по заявке</a></li>
                    <li><a href="{% url 'fls:coherpage' %}">Согласованность по всем заявкам</a></li>
                {% endif %}

            </ul>
        </div>
    </nav>
    <div class="container" style="margin-top: 50px">
        <div class="row">
            <div class="col-sm-3">
                <label for="comp">Выберите конкурс:</label>
                <br>
                <select id="comp" name="comp" class="selectpicker" {% if selected_comp_id %} disabled {% endif %}>
                    {% for comp in comps %}
                        {% if comp.id == selected_comp_id %}
                            <option value="{{ comp.id }}" selected>{{ comp.name }}</option>
                        {% else %}
                            <option value="{{ comp.id }}">{{ comp.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br>
                <br>
                <div id="critfil"></div>
                <br>


                <div id="jury_fill"></div>
                <br>

            </div>
            <div class="col-sm-9" id="div_values"></div>
        </div>
    </div>


{% endblock %}

{% block script %}
    <script>

        const fill_estimations = function () {
            comp_id = $('#comp').val();
            jury = $('#jury').val();
            crit = $('#crit').val();

            $.ajax({
                url: '/fls/similar_jury/',
                type: 'get',
                data: {'comp': comp_id,  'jury': jury, 'crit': crit},
                dataType: 'json',
                success: function (data) {
                    $("#div_values").html(data.est)
                },
                error: function () {
                    $("#div_values").html($('#error').html())
                },
            })

        };

        const fill_criterions_jury = function () {
            comp_id = $('#comp').val();
            $.ajax({
                url: '/fls/comp_crits_jurys/',
                type: 'get',
                data: {'comp': comp_id},
                dataType: 'json',
                success: function (data) {
                    $("#critfil").html(data.crits);
                    $("#jury_fill").html(data.jury);

                },
                complete: function (data) {
                    crit_select = $('#crit');
                    jury_select = $('#jury');
                    crit_select.addClass('selectpicker');
                    crit_select.selectpicker();
                    jury_select.addClass('selectpicker');
                    jury_select.selectpicker();
                    fill_estimations();
                }
            })

        };

        select_comp = $('#comp');
        select_comp.selectpicker();

        $(document).ready(fill_criterions_jury);
        select_comp.change(fill_criterions_jury);


        $('#critfil').on('change', '#crit', function () {
            fill_estimations();
        });
        $('#jury_fill').on('change', '#jury', function () {
            fill_estimations();
        });


    </script>
{% endblock %}
