<table id="values" class="table table-striped table-bordered">
    <caption class="text-center" style="font-family: 'Arial',monospace"><strong>Наиболее похожие оценки
        для {{ slt_jury }}</strong></caption>
    <thead class="thead thead-light">
    <tr>
        <td rowspan="2" style="vertical-align : middle;text-align:center;"><b>Участник</b></td>
        <th style="width: 50px" colspan="2" scope="colgroup">{{ slt_jury }}
        </th>
        {% if jurys %}
            {% for jury in jurys %}
                <th colspan="2" scope="colgroup">{{ jury }}</th>
            {% endfor %}
        {% endif %}
    </tr>
    <tr>

        <th class="notbold" scope="col">Оценка</th>
        <th class="notbold" scope="col">Место</th>
        {% if jurys %}
            {% for jury in jurys %}
                <th class="notbold" scope="col">Оценка</th>
                <th class="notbold" scope="col">Место</th>
            {% endfor %}
        {% endif %}
    </tr>

    </thead>
    <tbody>
    {% for est_name, values in ests.items %}
        <tr>
            <td>{{ est_name }}</td>

            {% for jury_value, jury_rank in values %}
                <td class="key_est" style="background-color: #4cae4c">{{ jury_value }}</td>
                <td class="key_rank" style="background-color: #5bc0de">{{ jury_rank }}</td>

            {% endfor %}

        </tr>
    {% endfor %}


    <tr style="background-color: #adff2f">
        <td>Схожесть</td>

        <td></td>
        <td></td>
        {% for diff in diffs %}
            {% if est_key %}
                <td id="est_key">{{ diff }}</td>
                <td id="rank_key"></td>
            {% else %}
                <td id="est_key"></td>
                <td id="rank_key">{{ diff }}</td>
            {% endif %}

        {% endfor %}
    </tr>


    </tbody>
</table>