{#{% if ests %}#}
<caption class="text-center" style="font-family: 'Arial',monospace"><strong>Результаты</strong></caption>
<thead>
<tr>
    {#    add params#}
    <th style="width: 50px">Участник</th>
    {% for param in params %}
        <th style="width: 50px">{{ param }}</th>
    {% endfor %}
    {% if methods %}
        {% for method in methods %}
            <th style="width: 50px">{{ method }}</th>
        {% endfor %}
    {% endif %}
    {% if jurys %}
        {% for jury in jurys %}
            <th style="width: 50px">{{ jury }}</th>
        {% endfor %}
    {% endif %}
    {% if one_method %}
        <th style="width: 50px">Общая оценка</th>
    {% endif %}

</tr>
</thead>
<tbody>

{% for est_name, values in ests.items %}
    <tr>
        <td>{{ est_name }}</td>
        {% for param_value in values.0 %}
            <td>{{ param_value }}</td>
        {% endfor %}
        {% for method_value in values.1 %}
            <td>{{ method_value }}</td>
        {% endfor %}
        {% if one_method %}
            <td>{{ values.2 }}</td>
        {% endif %}
    </tr>
{% empty %}
    <tr>
        <td colspan="8" class="text-center bg-warning">Нет результатов</td>
    </tr>
{% endfor %}

</tbody>


{#{% endif %}#}
