{% extends 'fls/base.html' %}
{% block title %}
    Отклонения от правил
{% endblock %}

{% block body %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Аналитика результатов</a>
            </div>
            <ul class="nav navbar-nav">
                {% if selected_comp_id %}
                    <li><a href={% url 'fls:simjury' selected_comp_id %}>Схожесть жюри</a></li>
                    <li class="active"><a href="{% url 'fls:metcomp' selected_comp_id %}">Отклонения от правил</a></li>
                    <li><a href="{% url 'fls:devpage' selected_comp_id %}">Согласованность по участнику</a></li>
                    <li><a href="{% url 'fls:coherpage' selected_comp_id %}">Согласованность по конкурсу</a></li>
                {% else %}
                    <li><a href={% url 'fls:simjury' %}>Схожесть жюри</a></li>
                    <li class="active"><a href="{% url 'fls:metcomp' %}">Отклонения от правил</a></li>
                    <li><a href="{% url 'fls:devpage' %}">Согласованность по участнику</a></li>
                    <li><a href="{% url 'fls:coherpage' %}">Согласованность по конкурсу</a></li>
                {% endif %}


            </ul>
        </div>
    </nav>
    <div class="container" style="margin-top: 50px">
        <div class="row">
            <div class="col-sm-3">
                <label for="comp">Выберите конкурс:</label>
                <br>
                <select id="comp" name="comp" class="selectpicker" {% if selected_comp_id %} disabled {% endif %}>
                    {% for comp in comps %}
                        {% if comp.id == selected_comp_id %}
                            <option value="{{ comp.id }}" selected>{{ comp.name }}</option>
                        {% else %}
                            <option value="{{ comp.id }}">{{ comp.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br>
                <br>
                <div id="critfil"></div>
                <br>
                <div id="jury_fill"></div>
                <br>
            </div>
            <div class="col-sm-9" id="div_values"></div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script>

        const fill_estimations = function () {
            comp_id = $('#comp').val();
            crit_id = $('#crit').val();
            jury_id = $('#jury').val();
            $.ajax({
                url: '/fls/method_comp/',
                type: 'get',
                data: {'comp': comp_id, 'jury': jury_id, 'crit': crit_id},
                dataType: 'json',
                success: function (data) {
                    $("#div_values").html(data.est)
                },
                error: function () {
                    $("#div_values").html($('#error').html())

                },
                complete: function (data) {
                    color_range();
                }
            })

        };

        const color_range = function () {
            color_pos = ['#3fa082', '#52a98e', '#65b39b', '#78bca7', '#8bc6b4', '#9fcfc0', '#b2d9cd', '#c5e2d9', '#d8ece6', '#ebf5f2'];
            color_neg = ['#cc285f', '#d13d6f', '#d6527e', '#db688f', '#e07e9f', '#e593af', '#eaa9bf', '#efbecf', '#f4d4df'];
            $(".paint").each(function (i) {
                diff_value = parseFloat($(this).text());
                diff = Math.round(Math.abs(diff_value));
                if (diff >= color_pos.length) {
                    diff = color_pos.length - 1
                }
                if (diff_value >= 0) {
                    color = color_pos[diff];
                } else {
                    color = color_neg[diff];

                }
                $(this).prev().css("background-color", color);
                $(this).prev().prev().css("background-color", color);
            })

        };

        const fill_criterions_jury = function () {
            comp_id = $('#comp').val();
            $.ajax({
                url: '/fls/comp_crits_jurys/',
                type: 'get',
                data: {'comp': comp_id},
                dataType: 'json',
                success: function (data) {
                    $("#critfil").html(data.crits);
                    $("#jury_fill").html(data.jury);

                },
                complete: function (data) {
                    crit_select = $('#crit');
                    jury_select = $('#jury');
                    crit_select.addClass('selectpicker');
                    crit_select.selectpicker();
                    jury_select.addClass('selectpicker');
                    jury_select.selectpicker();
                    fill_estimations();
                }
            })

        };


        select_comp = $('#comp');
        select_comp.selectpicker();

        $(document).ready(fill_criterions_jury);
        select_comp.change(fill_criterions_jury);

        $('#critfil').on('change', '#crit', function () {
            fill_estimations();
        });
        $('#jury_fill').on('change', '#jury', function () {
            fill_estimations();
        });


    </script>
{% endblock %}