<caption class="text-center" style="font-family: 'Arial',monospace"><strong>Сравнение методов
    для {{ slt_jury }}</strong>
</caption>
<thead class="thead thead-light">
<tr>
    <th style="width: 50px">Участник:</th>
    {% for param in params %}
        <th style="width: 50px">{{ param }}</th>
    {% endfor %}
    {% for method in methods %}
        <th style="width: 50px">{{ method.1 }}</th>
    {% endfor %}
    <th style="width: 50px">Разница</th>


</tr>
</thead>
<tbody>

{% for est_name, values in ests.items %}
    <tr>
        <td>{{ est_name }}</td>
        {% for param_value in values.0 %}
            <td>{{ param_value }}</td>
        {% endfor %}
        {% for method_value in values.1 %}
            <td>{{ method_value }}</td>
        {% endfor %}
        <td id="{{ forloop.counter0 }}" class="paint">{{ values.2}}</td>


    </tr>
{% empty %}
    <tr>
        <td colspan="8" class="text-center bg-warning">Нет результатов</td>
    </tr>
{% endfor %}

</tbody>