{% extends 'fls/base_template.html' %}
{% load widget_tweaks %}
{% block title %}Создание конкурса «{{ comp.name }}» - 2 Этап{% endblock %}
{% block content %}
    <h3>Создание конкурса «{{ comp.name }}» - 2 Этап(Конструирование заявки)</h3>
    <hr>
    <div class="col-xs-8">
        <div class="param" id="param_1">
            <div class="col-xs-12">
                <h3>Критерий </h3>
                <a href="#" class="close delete_param" style="color: red;font-size: 34px;" aria-label="Close"
                   role="button">&times;</a>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label style="font-size: 20px;">Название
                            <input style="font-size: 20px; font-weight: lighter" class="form-control" type="text"
                                   name="text">
                        </label><br>
                    </div>
                    <div class="form-group col-md-7">
                        <label style="font-size: 20px;">Описание
                            <textarea style="font-size: 20px; font-weight: lighter" class="form-control rounded-0"
                                      rows="2" cols="70" name="description"></textarea>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" style="margin-left: 10px;">
                <h3>Параметры критерия </h3>
                <a href="#" style="color: #1e7e34;font-size: 24px">
                    <span class="glyphicon glyphicon-plus add_subparam"></span>
                </a>
            </div>
            <div class="subparam d-block" id="subparam_1">
                <a href="#" class="close delete_subparam" style="color: red;font-size: 34px; " aria-label="Close"
                   role="button">&times;</a>
                <div class="row" style="margin-left: 10px;">
                    <div class="form-group col-md-5">
                        <label style="font-size: 20px;">Название
                            <input style="font-size: 20px; font-weight: lighter" class="form-control" type="text"
                                   id="sub_text">
                        </label>
                    </div>
                    <div class="form-group col-md-3">
                        <label style="font-size: 20px;">Тип данных
                            <select style="font-size: 20px; font-weight: lighter" class="form-control type_subparam"
                                    id="type_subparam">
                                {% for t in types %}
                                    <option value="{{ t | first }}">{{ t | last }}</option>
                                {% endfor %}
                            </select>

                        </label>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="for_formula">
                            <label style="font-size: 20px;" class="form-check-label" for="gridCheck">
                                &nbsp Для формулы
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left: 10px;">
                    <div class="form-row drop_down_list" hidden>
                        <div class="form-group col-md-6">
                            <label style="font-size: 20px;">Выберите необходимый список
                                <select style="font-size: 20px; font-weight: lighter" class="form-control"
                                        id="enum_subparam">
                                    {% for e in enums %}
                                        <option value="{{ e.id }}">{{ e.name }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left: 10px;">
                    <div class="max_numb form-group col-md-5">
                        <label style="font-size: 20px;">Ограничение
                            <input style="font-size: 20px; font-weight: lighter" class="form-control" type="number"
                                   onkeydown="return event.keyCode !== 69"
                                   id="max_number">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col-xs-12">
            <button id="submit" class="btn btn-primary labelText">
                <span style="font-size: 16px;">Сохранить конкурс </span>
            </button>
            <a href="#" class="btn btn-info add_param" role="button"><span style="font-size: 16px;">Добавить критерий</span></a>

        </div>
        <br>
        <br>
    </div>

{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $.fn.scrollView = function () {
                return this.each(function () {
                    $('html, body').animate({
                        scrollTop: $(this).offset().top
                    }, 1000);
                });
            };

            $(".add_param").click(function () {
                var lastid = $(".param:last").attr("id");
                var nextindex = Number(lastid.split('_')[1]) + 1;
                $(".param:last").after("<div class=\"param\" id=\"param_" + nextindex + "\"></div>");
                $("#param_" + nextindex).append("<div class=\"col-xs-12\">\n" +
                    "                <h3>Критерий </h3>\n" +
                    "                <a href=\"#\" class=\"close delete_param\" style=\"color: red;font-size: 34px;\" aria-label=\"Close\"\n" +
                    "                   role=\"button\">&times;</a>\n" +
                    "                <div class=\"row\">\n" +
                    "                    <div class=\"form-group col-md-4\">\n" +
                    "                        <label style=\"font-size: 20px;\">Название\n" +
                    "                            <input style=\"font-size: 20px; font-weight: lighter\" class=\"form-control\" type=\"text\"\n" +
                    "                                   name=\"text\">\n" +
                    "                        </label><br>\n" +
                    "                    </div>\n" +
                    "                    <div class=\"form-group col-md-7\">\n" +
                    "                        <label style=\"font-size: 20px;\">Описание\n" +
                    "                            <textarea style=\"font-size: 20px; font-weight: lighter\" class=\"form-control rounded-0\"\n" +
                    "                                      rows=\"2\" cols=\"70\" name=\"description\"></textarea>\n" +
                    "                        </label>\n" +
                    "                    </div>\n" +
                    "                </div>\n" +
                    "            </div>\n" +
                    "            <div class=\"col-xs-12\" style=\"margin-left: 10px;\">\n" +
                    "                <h3>Параметры критерия </h3>\n" +
                    "                <a href=\"#\" style=\"color: #1e7e34;font-size: 24px\">\n" +
                    "                    <span class=\"glyphicon glyphicon-plus add_subparam\"></span>\n" +
                    "                </a>\n" +
                    "            </div>");

                var lastid = $(".subparam:last").attr("id");
                var newindex = Number(lastid.split('_')[1]) + 1;
                $("#param_" + nextindex + " .col-xs-12:last").after("<div class=\"subparam d-block\" id=\"subparam_" + newindex + "\"></div>");
                $("#subparam_" + newindex).append("<a href=\"#\" class=\"close delete_subparam\" style=\"color: red;font-size: 34px; \" aria-label=\"Close\"\n" +
                    "                   role=\"button\">&times;</a>\n" +
                    "                <div class=\"row\" style=\"margin-left: 10px;\">\n" +
                    "                    <div class=\"form-group col-md-5\">\n" +
                    "                        <label style=\"font-size: 20px;\">Название\n" +
                    "                            <input style=\"font-size: 20px; font-weight: lighter\" class=\"form-control\" type=\"text\"\n" +
                    "                                   id=\"sub_text\">\n" +
                    "                        </label>\n" +
                    "                    </div>\n" +
                    "                    <div class=\"form-group col-md-3\">\n" +
                    "                        <label style=\"font-size: 20px;\">Тип данных\n" +
                    "                            <select style=\"font-size: 20px; font-weight: lighter\" class=\"form-control type_subparam\"\n" +
                    "                                    id=\"type_subparam\">\n" +
                    "                                {% for t in types %}\n"+
                        "                                    <option value=\"{{ t | first }}\">{{ t | last }}</option>\n"
                        +
                        "                                {% endfor %}\n" +
                    "                            </select>\n" +
                    "\n" +
                    "                        </label>\n" +
                    "                    </div>\n" +
                    "                    <div class=\"form-group col-md-4\">\n" +
                    "                        <div class=\"form-check\">\n" +
                    "                            <input class=\"form-check-input\" type=\"checkbox\" id=\"for_formula\">\n" +
                    "                            <label style=\"font-size: 20px;\" class=\"form-check-label\" for=\"gridCheck\">\n" +
                    "                                &nbsp Для формулы\n" +
                    "                            </label>\n" +
                    "                        </div>\n" +
                    "                    </div>\n" +
                    "                </div>\n" +
                    "                <div class=\"row\" style=\"margin-left: 10px;\">\n" +
                    "                    <div class=\"form-row drop_down_list\" hidden>\n" +
                    "                        <div class=\"form-group col-md-6\">\n" +
                    "                            <label style=\"font-size: 20px;\">Выберите необходимый список\n" +
                    "                                <select style=\"font-size: 20px; font-weight: lighter\" class=\"form-control\"\n" +
                    "                                        id=\"enum_subparam\">\n" +
                    "                                    {% for e in enums %}\n"+
                        "                                        <option value=\"{{ e.id }}\">{{ e.name }}</option>\n"+
                        "                                    {% endfor %}\n" +
                    "                                </select>\n" +
                    "                            </label>\n" +
                    "                        </div>\n" +
                    "                    </div>\n" +
                    "                </div>\n" +
                    "                <div class=\"row\" style=\"margin-left: 10px;\">\n" +
                    "                    <div class=\"max_numb form-group col-md-5\">\n" +
                    "                        <label style=\"font-size: 20px;\">Ограничение\n" +
                    "                            <input style=\"font-size: 20px; font-weight: lighter\" class=\"form-control\" type=\"number\"\n" +
                    "                                   onkeydown=\"return event.keyCode !== 69\"\n" +
                    "                                   id=\"max_number\">\n" +
                    "                        </label>\n" +
                    "                    </div>\n" +
                    "                </div>");
            });


            $('.container').on('click', '.add_subparam', function () {
                var lastid = $(".subparam:last").attr("id");
                var id = "subparam_" + (Number(lastid.split('_')[1]) + 1);
                $("#" + $("#" + $(this).parent().parent().parent().attr("id") + " .subparam:last").attr("id")).after("<div class=\"subparam d-block\" id=\"" + id + "\"></div>");
                $("#" + id).append("<a href=\"#\" class=\"close delete_subparam\" style=\"color: red;font-size: 34px; \" aria-label=\"Close\"\n" +
                    "                   role=\"button\">&times;</a>\n" +
                    "                <div class=\"row\" style=\"margin-left: 10px;\">\n" +
                    "                    <div class=\"form-group col-md-5\">\n" +
                    "                        <label style=\"font-size: 20px;\">Название\n" +
                    "                            <input style=\"font-size: 20px; font-weight: lighter\" class=\"form-control\" type=\"text\"\n" +
                    "                                   id=\"sub_text\">\n" +
                    "                        </label>\n" +
                    "                    </div>\n" +
                    "                    <div class=\"form-group col-md-3\">\n" +
                    "                        <label style=\"font-size: 20px;\">Тип данных\n" +
                    "                            <select style=\"font-size: 20px; font-weight: lighter\" class=\"form-control type_subparam\"\n" +
                    "                                    id=\"type_subparam\">\n" +
                    "                                {% for t in types %}\n"+
                        "                                    <option value=\"{{ t | first }}\">{{ t | last }}</option>\n"
                        +
                        "                                {% endfor %}\n" +
                    "                            </select>\n" +
                    "\n" +
                    "                        </label>\n" +
                    "                    </div>\n" +
                    "                    <div class=\"form-group col-md-4\">\n" +
                    "                        <div class=\"form-check\">\n" +
                    "                            <input class=\"form-check-input\" type=\"checkbox\" id=\"for_formula\">\n" +
                    "                            <label style=\"font-size: 20px;\" class=\"form-check-label\" for=\"gridCheck\">\n" +
                    "                                &nbsp Для формулы\n" +
                    "                            </label>\n" +
                    "                        </div>\n" +
                    "                    </div>\n" +
                    "                </div>\n" +
                    "                <div class=\"row\" style=\"margin-left: 10px;\">\n" +
                    "                    <div class=\"form-row drop_down_list\" hidden>\n" +
                    "                        <div class=\"form-group col-md-6\">\n" +
                    "                            <label style=\"font-size: 20px;\">Выберите необходимый список\n" +
                    "                                <select style=\"font-size: 20px; font-weight: lighter\" class=\"form-control\"\n" +
                    "                                        id=\"enum_subparam\">\n" +
                    "                                    {% for e in enums %}\n"+
                        "                                        <option value=\"{{ e.id }}\">{{ e.name }}</option>\n"+
                        "                                    {% endfor %}\n" +
                    "                                </select>\n" +
                    "                            </label>\n" +
                    "                        </div>\n" +
                    "                    </div>\n" +
                    "                </div>\n" +
                    "                <div class=\"row\" style=\"margin-left: 10px;\">\n" +
                    "                    <div class=\"max_numb form-group col-md-5\">\n" +
                    "                        <label style=\"font-size: 20px;\">Ограничение\n" +
                    "                            <input style=\"font-size: 20px; font-weight: lighter\" class=\"form-control\" type=\"number\"\n" +
                    "                                   onkeydown=\"return event.keyCode !== 69\"\n" +
                    "                                   id=\"max_number\">\n" +
                    "                        </label>\n" +
                    "                    </div>\n" +
                    "                </div>");

            });

            $('.container').on('click', '.delete_param', function () {
                var total_element = $(".param").length;
                if (total_element !== 1) {
                    $(this).parent().remove();
                }
            });

            $('.container').on('click', '.delete_subparam', function () {
                var id = $(this).parent().parent().attr("id");
                var total_element = $("#" + id + " .subparam").length;
                if (total_element !== 1) {
                    $(this).parent().remove();
                }
            });

            $('.container').on('change', '.type_subparam', function () {
                var sub_id = $(this).parent().parent().parent().parent().attr("id");
                if (Number($(this).val()) === 5) {
                    $("#" + sub_id + " .drop_down_list").show();
                } else {
                    $("#" + sub_id + " .drop_down_list").hide();
                }
                if (Number($(this).val()) === 1) {
                    $("#" + sub_id + " .max_numb").show();
                } else {
                    $("#" + sub_id + " .max_numb").hide();
                }
            });

            $(".container").on('click', '#submit', function () {
                var data_params = [];
                var params = $('.param');
                for (i = 0; i < params.length; i++) {
                    var subparams = $("#" + $(params[i]).attr("id") + " .subparam");
                    var data_subparams = [];
                    for (j = 0; j < subparams.length; j++) {
                        var tmp = {
                            "name": $(subparams[j]).find("#sub_text").val(),
                            "type_subparam": $(subparams[j]).find("#type_subparam").val(),
                            "for_formula": $(subparams[j]).find("#for_formula").is(':checked'),
                        };
                        if (Number(tmp["type_subparam"]) === 5) {
                            tmp["enum_id"] = $(subparams[j]).find("#enum_subparam").val();
                        }
                        if (Number(tmp["type_subparam"]) === 1) {
                            tmp["max"] = $(subparams[j]).find("#max_number").val();
                        }
                        data_subparams.push(tmp);
                    }
                    var param = {
                        "name": $(params[i]).find("input").val(),
                        "description": $(params[i]).find("textarea").val(),
                        "subparams": data_subparams,
                    };
                    data_params.push(param);
                }
                var result = {"params": data_params, csrfmiddlewaretoken: '{{ csrf_token }}'};
                $.ajax({
                    type: "post",
                    url: "/fls/comp/second/{{ comp.id }}",
                    data: result,
                    success: function (response) {
                        alert("Success");
                        window.location = "http://127.0.0.1:8000/fls/comp/{{ comp.id }}";
                    }
                });
            });


        })
        ;
    </script>
{% endblock %}