{% extends 'fls/base_criteria.html' %}
{% block title %}
    Создание критерия для каждого параметра
{% endblock %}

{% block cycle_and_head %}

    <h3>Создание критерия каждого параметра</h3>
    <hr>
    <h3>Критерий для параметра {{ p.name }}</h3>
    <h4>Подпараметры</h4>
    {% for sb in subparams %}
        <button data-toggle="tooltip" data-placement="top" title="Главный параметр - {{ sb.param.name }}"
                type="button" class="btn btn-info param" id="{{ sb.id }}">{{ sb.name }}</button>
    {% endfor %}
    <hr>
{% endblock %}


{% block url_form %}
    {% url 'fls:criteria_for_single_param' id p.id %}
{% endblock %}
{% block cycle_popup %}
    {% for sb in subparams %}
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="item" id="{{ sb.id }}">
            <label class="form-check-label" for="{{ sb.id }}">{{ sb.name }}</label>
        </div>
    {% endfor %}
{% endblock %}