{% extends 'fls/base_template.html' %}
{% load widget_tweaks %}
{% block title %}Создание конкурса{% endblock %}
{% block content %}
    <h3>Создание конкурса</h3>
    <hr>
    <form name="form" action="{% url 'fls:comp' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-4">
                <div style="width: 300px">
                    {% for field in form %}
                        <div class="form-group{% if field.errors %} has-error{% endif %}">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% render_field field class="form-control" %}
                            {% for error in field.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary labelText">
                        <span>Сохранить</span>
                    </button>
                </div>
            </div>
            <div class="col-xs-8">
                <h3>Создание параметров</h3>
                <hr>
                <div class="param" id="param_1">
                    <h4>Параметр </h4>
                    <a href="#" class="close delete_param" style="color: red;font-size: 34px;" aria-label="Close"
                       role="button">&times;</a>
                    <div class="form-row">
                        <div class="form-group">
                            <label>Название
                                <input class="form-control" type="text" name="text">
                            </label><br>
                        </div>
                        <div class="form-group">
                            <label>Описание
                                <textarea class="form-control rounded-0" rows="5" name="description"></textarea>
                            </label>
                        </div>
                    </div>
                    <hr>
                    <h5 class="subparams_header">Подпараметры </h5>
                    <div class="subparam" id="subparam_1">
                        <a href="#" class="close delete_subparam" style="color: red;font-size: 34px;" aria-label="Close"
                           role="button">&times;</a>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label>Название
                                    <input class="form-control" type="text" name="sub_text">
                                </label>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Тип данных
                                    <select class="form-control" name="type_subparam">
                                        {% for t in types %}
                                            <option value="{{ t | first }}">{{ t | last }}</option>
                                        {% endfor %}
                                    </select>

                                </label>
                            </div>
                            <div class="form-group col-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="for_formula">
                                    <label class="form-check-label" for="gridCheck">
                                        Для формулы
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                    <hr>
                    <a href="#" style="color: #1e7e34;font-size: 24px">
                        <span class="glyphicon glyphicon-plus add_subparam"></span>
                    </a>
                    <hr>
                </div>
                <br>
                <a href="#" class="btn btn-info add_param" role="button"><span>Добавить параметр</span></a>
                <br>
            </div>
        </div>
    </form>

{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $(".add_param").click(function () {
                var lastid = $(".param:last").attr("id");
                var nextindex = Number(lastid.split('_')[1]) + 1;
                $(".param:last").after("<div class=\"param\" id=\"param_" + nextindex + "\"></div><hr>");
                $("#param_" + nextindex).append("<h4>Параметр </h4>\n" +
                    "                    <a href=\"#\" class=\"close delete_param\" style=\"color: red;font-size: 34px;\" aria-label=\"Close\"\n" +
                    "                       role=\"button\">&times;</a>\n" +
                    "                    <div class=\"form-row\">\n" +
                    "                        <div class=\"form-group\">\n" +
                    "                            <label>Название\n" +
                    "                                <input class=\"form-control\" type=\"text\" name=\"text\">\n" +
                    "                            </label><br>\n" +
                    "                        </div>\n" +
                    "                        <div class=\"form-group\">\n" +
                    "                            <label>Описание\n" +
                    "                                <textarea class=\"form-control rounded-0\" rows=\"5\" name=\"description\"></textarea>\n" +
                    "                            </label>\n" +
                    "                        </div>\n" +
                    "                    </div>\n" +
                    "                    <hr>\n" +
                    "                    <h5 class=\"subparams_header\">Подпараметры </h5><hr>\n" +
                    "                    <a href=\"#\" style=\"color: #1e7e34;font-size: 24px\">\n" +
                    "                        <span class=\"glyphicon glyphicon-plus add_subparam\"></span>\n" +
                    "                    </a>\n" +
                    "                    <hr>");

                var lastid = $(".subparam:last").attr("id");
                var newindex = Number(lastid.split('_')[1]) + 1;
                $("#param_" + nextindex + " .subparams_header").after("<div class=\"subparam\" id=\"subparam_" + newindex + "\"></div> <hr>");
                $("#subparam_" + newindex).append("<a href=\"#\" class=\"close delete_subparam\" style=\"color: red;font-size: 34px;\" aria-label=\"Close\"\n" +
                    "                           role=\"button\">&times;</a>\n" +
                    "                        <div class=\"form-row\">\n" +
                    "                            <div class=\"form-group col-md-5\">\n" +
                    "                                <label>Название\n" +
                    "                                    <input class=\"form-control\" type=\"text\" name=\"sub_text\">\n" +
                    "                                </label>\n" +
                    "                            </div>\n" +
                    "                            <div class=\"form-group col-md-3\">\n" +
                    "                                <label>Тип данных\n" +
                    "                                    <select class=\"form-control\" name=\"type_subparam\">\n" +
                    "                                        {% for t in types %}\n"+
                        "                                            <option value=\"{{ t | first }}\">{{ t | last }}</option>\n"
                        +
                        "                                        {% endfor %}\n" +
                    "                                    </select>\n" +
                    "\n" +
                    "                                </label>\n" +
                    "                            </div>\n" +
                    "                            <div class=\"form-group col-md-4\">\n" +
                    "                                <div class=\"form-check\">\n" +
                    "                                    <input class=\"form-check-input\" type=\"checkbox\" id=\"for_formula\">\n" +
                    "                                    <label class=\"form-check-label\" for=\"gridCheck\">\n" +
                    "                                        Для формулы\n" +
                    "                                    </label>\n" +
                    "                                </div>\n" +
                    "                            </div>\n" +
                    "                        </div>\n" +
                    "                        <br>\n" +
                    "                        <br>");
            });


            $('.container').on('click', '.add_subparam', function () {
                var lastid = $(".subparam:last").attr("id");
                var nextindex = Number(lastid.split('_')[1]) + 1;
                $(this).parent().before("<div class=\"subparam\" id=\"subparam_" + nextindex + "\"></div><hr>");
                $("#subparam_" + nextindex).append("<a href=\"#\" class=\"close delete_subparam\" style=\"color: red;font-size: 34px;\" aria-label=\"Close\"\n" +
                    "                           role=\"button\">&times;</a>\n" +
                    "                        <div class=\"form-row\">\n" +
                    "                            <div class=\"form-group col-md-5\">\n" +
                    "                                <label>Название\n" +
                    "                                    <input class=\"form-control\" type=\"text\" name=\"sub_text\">\n" +
                    "                                </label>\n" +
                    "                            </div>\n" +
                    "                            <div class=\"form-group col-md-3\">\n" +
                    "                                <label>Тип данных\n" +
                    "                                    <select class=\"form-control\" name=\"type_subparam\">\n" +
                    "                                        {% for t in types %}\n"+
                        "                                            <option value=\"{{ t | first }}\">{{ t | last }}</option>\n"
                        +
                        "                                        {% endfor %}\n" +
                    "                                    </select>\n" +
                    "\n" +
                    "                                </label>\n" +
                    "                            </div>\n" +
                    "                            <div class=\"form-group col-md-4\">\n" +
                    "                                <div class=\"form-check\">\n" +
                    "                                    <input class=\"form-check-input\" type=\"checkbox\" id=\"for_formula\">\n" +
                    "                                    <label class=\"form-check-label\" for=\"gridCheck\">\n" +
                    "                                        Для формулы\n" +
                    "                                    </label>\n" +
                    "                                </div>\n" +
                    "                            </div>\n" +
                    "                        </div>\n" +
                    "                        <br>\n" +
                    "                        <br>");
            });

            $('.container').on('click', '.delete_param', function () {
                var total_element = $(".param").length;
                if (total_element !== 1) {
                    $(this).parent().remove();
                }
            });

            $('.container').on('click', '.delete_subparam', function () {
                var id = $(this).parent().parent().attr("id");
                alert(id);
                var total_element = $("#" + id + " .subparam").length;
                alert(total_element);
                if (total_element !== 1) {
                    $(this).parent().remove();
                }
            });
        });
    </script>
{% endblock %}