{% extends 'fls/base_template.html' %}

{% block content %}
    {% block cycle_and_head %}
    {% endblock %}

    <h4>Операции</h4>
    <div class="oper">
        <button type="button" class="btn sign" id="plus">+</button>
        <button type="button" class="btn sign" id="minus">-</button>
        <button type="button" class="btn sign" id="div">/</button>
        <button type="button" class="btn sign" id="mult">*</button>
        <button type="button" class="btn" id="bracket1">(</button>
        <button type="button" class="btn" id="bracket2">)</button>
    </div>

    <hr>
    <h4>Функции</h4>
    <div class="func">
        <button type="button" class="btn btn-warning" id="max">max</button>
        <button type="button" class="btn btn-warning" id="min">min</button>
        <button type="button" class="btn btn-warning" id="avg">avg</button>
        <button type="button" class="btn btn-warning" id="sum">sum</button>
    </div>
    <hr>

    <form name="form" action="{% block url_form %}url{% endblock %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-5">
                <label>Название *
                    <input class="form-control" type="text" name="name">
                </label><br>
                <label>Формула
                    <textarea style="resize: none;" name="formula" class="form-control rounded-0" rows="5" cols="40"
                              id="desc" readonly></textarea>

                </label>
            </div>
            <br>
            <button type="button" class="btn btn-danger" id="back"><span class="glyphicon glyphicon-backward"></span>
                back
            </button>
        </div>
        <br>
        {#        <input type="text" id="formula" name="formula2" disabled hidden>#}
        <hr>
        <button type="submit" class="btn btn-primary labelText">
                                <span style="font-family: 'Comic Sans MS',monospace">
                                {% block name_button %}Сохранить{% endblock %}
                                    </span>
        </button>
        {#        <button type="submit" class="btn btn-success labelText">#}
        {#                                <span style="font-family: 'Comic Sans MS',monospace">#}
        {#                                Сохранить и добавить еще критерий#}
        {#                                    </span>#}
        {#        </button>#}
    </form>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="closeModal" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Выберите параметры для функции <span id="insert"></span></h4>
                </div>

                <div class="modal-body">
                    <div class="container">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="checkAll">
                            <label class="form-check-label" for="checkAll">Выбрать все</label>
                        </div>
                        {% block cycle_popup %}

                        {% endblock %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="apply_checkbox"><span>Применить</span>
                    </button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        $(document).ready(function () {
            var array = [];
            $(document).on('click', '.param', function () {
                var str = "a_" + $(this).attr("id") + " ";
                if (array.length === 0 || (false === array[array.length - 1].startsWith("a_")
                    && false === array[array.length - 1].endsWith(") "))) {
                    array.push(str);
                }
                full_textarea();
            });

            $(".oper").on('click', '.btn', function () {
                if (array.length !== 0) {
                    var elem = array[array.length - 1];
                    var bool = true;
                    {#$(".oper > .btn").each(function () {#}
                    {#    if ($(this).text() + " " === elem) {#}
                    {#        bool = false;#}

                    if (bool) {
                        array.push($(this).text() + " ");
                    }

                    full_textarea();
                }
            });

            $("#back").click(function () {
                array = array.slice(0, array.length - 1);
                full_textarea();
            });

            $("#closeModal").click(function () {
                $("input[name='item']:checked").prop('checked', false);
                $("#insert").text('');
                $("#checkAll").prop('checked', false);
            });

            $("#apply_checkbox").click(function () {
                var params = [];
                $.each($("input[name='item']:checked"), function () {
                    params.push("a_" + $(this).attr("id"));
                    $(this).prop('checked', false);
                });
                array.push($("#insert").text() + "(" + params + ") ");
                $("#insert").text('');
                $("#checkAll").prop('checked', false);
                full_textarea();
            });

            function full_textarea() {
                var i;
                var content = "";
                for (i = 0; i < array.length; i++) {
                    content += array[i];
                }
                $("#desc").val(content);
            }

            $(".func > .btn").click(function () {
                if (array.length === 0 || (false === array[array.length - 1].startsWith("a_")
                    && false === array[array.length - 1].endsWith(") "))) {
                    $("#insert").append($(this).text());
                    $('#myModal').modal('show');
                }
            });

            $("#checkAll").click(function () {
                $(".form-check-input").prop('checked', $(this).prop('checked'));
            });
        });
    </script>
{% endblock %}