{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/custom_css.css">
    <link rel="stylesheet" href="/static/js/popper.min.js">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block links %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>

        .div-info {
            margin-bottom: 15px;
            padding: 4px 12px;
            background-color: #e7f3fe;
            border-left: 6px solid #2196F3;
        }

        .div-err {
            margin-bottom: 15px;
            padding: 4px 12px;
            background-color: #fecfb7;
            border-left: 6px solid #f34d55;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top header">
    <div class="container-fluid">
        <div class="navbar-header">
            {#            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"#}
            {#                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
            {#                <span class="sr-only">Toggle navigation</span>#}
            {#                <span class="icon-bar"></span>#}
            {#                <span class="icon-bar"></span>#}
            {#                <span class="icon-bar"></span>#}
            {#            </button>#}
            {#            <a href="#"><h4 class="logo">C<span>C</span>OK</h4></a>#}
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'fls:list_comp' %}" style="color: white">Конкурсы</a></li>
                <li><a href="{% url 'fls:profile' %}" style="color: white">Профиль</a></li>
                <li><a href="{% url 'fls:logout' %}" style="color: #c21914">Выход</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="main-block">
    <div class="container" style="font-family: Arial">
        {% block content %}{% endblock %}
    </div>
</div>

</body>

{% block script %}{% endblock %}

</html>