{% extends 'fls/base_template.html' %}
{% block style %}
    .for_sign {
        font-size: 30px;
    }
{% endblock %}
{% block content %}
    {% block cycle_and_head %}
    {% endblock %}

    <h3>Операции</h3>
    <div class="oper">
        <button type="button" class="tool btn sign for_sign" id="plus">+</button>
        <button type="button" class="tool btn sign for_sign" id="minus">-</button>
        <button type="button" class="tool btn sign for_sign" id="div">/</button>
        <button type="button" class="tool btn sign for_sign" id="mult">*</button>
        <button type="button" class="tool btn for_sign" id="left_branch">(</button>
        <button type="button" class="tool btn for_sign" id="right_branch">)</button>
    </div>
    <h3>Функции</h3>
    <div class="func">
        {% for f in funcs %}
            <button type="button" style="font-size: 20px;" class="tool btn btn-warning" id="{{ f }}">{{ f }}</button>
        {% endfor %}
    </div>
    <h3>Числа</h3>
    <div class="numb">
        <div class="row">
            <div class="col-md-3">
                <input  style="font-size: 20px;" class="form-control" type="number" id="field_numb">
            </div>
            <div class="col-md-3">
                <button type="button"  style="font-size: 20px;" class="tool btn btn-warning" id="numb_button">Добавить</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-5 div-err" hidden>
                <h4>Введите число</h4>
            </div>
        </div>
    </div>
    <form name="form" action="{% block url_form %}url{% endblock %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-5">
                <label style="font-size: 20px;">Формула
                    <textarea style="resize: none; font-size: 20px;" name="formula_show " class="form-control rounded-0" rows="5"
                              cols="40"
                              id="desc_show" readonly></textarea>

                </label>
                <label hidden>Формула для бэка
                    <textarea name="formula" class="form-control rounded-0" rows="5" cols="40"
                              id="desc" readonly></textarea>

                </label>
            </div>
            <br>
            <button style="font-size: 20px;" type="button" class="btn btn-danger" id="back"><span style="font-size: 20px;" class="glyphicon glyphicon-backward"></span>
                Назад
            </button>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary labelText">
                                <span style="font-size: 18px;">
                                {% block name_button %}Сохранить{% endblock %}
                                    </span>
        </button>
        <br><br><br>
    </form>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="closeModal" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Выберите параметры для функции <span id="insert"></span></h3>
                </div>

                <div class="modal-body">
                    <div class="container">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="checkAll">
                            <label style="font-size: 20px;" class="form-check-label" for="checkAll">Выбрать все</label>
                        </div>
                        {% block cycle_popup %}

                        {% endblock %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="apply_checkbox"><span style="font-size: 18px;">Применить</span>
                    </button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        $(document).ready(function () {
            var symbols = ['+', '-', '/', '*'];
            var left_branch = '(';
            var right_branch = ')';
            var array = [];
            var display = [];
            $(document).on('click', '.param', function () {
                var str = "a_" + $(this).attr("id") + " ";
                if (array.length === 0 || (-1 !== symbols.indexOf(array[array.length - 1][0]))
                    || (left_branch === array[array.length - 1][0])) {
                    array.push(str);
                    display.push($(this).text() + " ");
                }
                disabled_button();
                full_textarea();
            });

            $(".oper").on('click', '.btn.sign', function () {
                if ((-1 === symbols.indexOf(array[array.length - 1][0])) && (left_branch !== array[array.length - 1][0])) {
                    var el = $(this).text() + " ";
                    array.push(el);
                    display.push(el);
                }
                $(".tool").attr("disabled", false);
                $("#right_branch").attr("disabled", true);
                $(".sign").attr("disabled", true);
                full_textarea();
            });

            $("#left_branch").click(function () {
                if (array.length === 0 || (-1 !== symbols.indexOf(array[array.length - 1][0]))
                    || (left_branch === array[array.length - 1][0])) {
                    array.push("( ");
                    display.push("( ");
                }
                $(".tool").attr("disabled", false);
                $("#right_branch").attr("disabled", true);
                $(".sign").attr("disabled", true);
                full_textarea();
            });

            $("#right_branch").click(function () {
                if (((-1 === symbols.indexOf(array[array.length - 1][0])) || (right_branch === array[array.length - 1][0]))
                    && left_branch !== array[array.length - 1][0]) {
                    array.push(") ");
                    display.push(") ");
                }
                disabled_button();
                full_textarea();
            });

            $("#back").click(function () {
                array = array.slice(0, array.length - 1);
                display = display.slice(0, array.length - 1);
                full_textarea();
            });

            $("#numb_button").click(function () {
                var new_el = $('#field_numb').val();
                if (new_el === "") {
                    $(".div-err").show();
                } else {
                    $(".div-err").hide();
                    if (array.length === 0 || (-1 !== symbols.indexOf(array[array.length - 1][0]))
                        || (left_branch === array[array.length - 1][0])) {
                        array.push(new_el + " ");
                        display.push(new_el + " ");
                        $('#field_numb').val("");
                    }
                }
                disabled_button();
                full_textarea();
            });

            $("#closeModal").click(function () {
                $("input[name='item']:checked").prop('checked', false);
                $("#insert").text('');
                $("#checkAll").prop('checked', false);
            });

            $("#apply_checkbox").click(function () {
                var params = [];
                var params_sh = [];
                $.each($("input[name='item']:checked"), function () {
                    params.push("a_" + $(this).attr("id"));
                    params_sh.push($("label[for='" + $(this).attr("id") + "']").text());
                    $(this).prop('checked', false);
                });
                array.push($("#insert").text() + "(" + params + ") ");
                display.push($("#insert").text() + "(" + params_sh + ") ");
                $("#insert").text('');
                $("#checkAll").prop('checked', false);
                disabled_button();
                full_textarea();
            });

            function full_textarea() {
                var i;
                var content = "";
                for (i = 0; i < array.length; i++) {
                    content += array[i];
                }
                $("#desc").val(content);
                content = "";
                for (i = 0; i < display.length; i++) {
                    content += display[i];
                }
                $("#desc_show").val(content);
            }

            function disabled_button() {
                $(".tool").attr("disabled", false);
                $(".param").attr("disabled", true);
                $(".func > .btn").attr("disabled", true);
                $("#numb_button").attr("disabled", true);
                $("#left_branch").attr("disabled", true);
            }

            $(".func > .btn").click(function () {
                if (array.length === 0 || (-1 !== symbols.indexOf(array[array.length - 1][0]))
                    || (left_branch === array[array.length - 1][0])) {
                    $("#insert").append($(this).text());
                    $('#myModal').modal('show');
                }
            });

            $("#checkAll").click(function () {
                $(".form-check-input").prop('checked', $(this).prop('checked'));
            });
        });
    </script>
{% endblock %}