{% extends 'fls/base_template.html' %}
{% block title %}
    Конкурc {{ comp.name }}
{% endblock %}

{% block content %}
    <h3 xmlns="http://www.w3.org/1999/html"><b>Конкурс: </b>{{ comp.name }}</h3>
    <hr>
    <p><b>Курс: </b> {{ comp.get_course }}</p>
    <p><b>Описание </b> <br>{{ comp.description }}</p>
    <p><b>Статус:</b> {{ comp.get_status }}</p>
    <hr>
    <p>Необходимые критерии для участия в конкурсе</p>
    <ul>
        {% for p in comp.get_criteria %}
            <li><b>{{ p.name }}</b></li>
        {% endfor %}
    </ul>
    {% if  comp.get_count  == 0 %}
        {% if user.is_participant  and comp.status == 2 %}
            <h4>На конкурс еще не подано ни одной заявки! Будь первым!</h4>
        {% endif %}
    {% else %}
        <h4>На конкурс подано <b>{{ comp.get_count }} </b> заявки !</h4>
    {% endif %}
    <br>
    {% if user.is_participant and comp.status == 2 %}
        <a href="{% url 'fls:load_request' comp.id %}" class="btn btn-success"> Участвовать</a>
    {% endif %}
    {% if user.is_organizer %}
        {% if comp.status == 1 %}
            {% if comp.method_of_estimate == 2 or comp.method_of_estimate == 3 %}
                {% with cr_id=comp.get_next_criterion %}
                    <a href="{% if cr_id == -1 %}#
                        {% else %}{% url 'fls:formula_for_single_criteria' comp.id  cr_id %} {% endif %}"
                       class="btn btn-success" {% if cr_id == -1 %} disabled{% endif %}>Добавить
                        формулы для критериев</a>
                {% endwith %}
                {% if comp.method_of_estimate == 3 %}
                    <a href="{% url 'fls:result_criteria' comp.id %}"
                       class="btn btn-success {% if comp.not_exists_formula %} disabled {% endif %}">Итоговая формула
                        подсчета критериев</a>
                {% endif %}
            {% endif %}
            <h4><a href="{% url 'fls:change_status' comp.id 2 %}"> Поменять статус конкурса на Открыт</a></h4>
        {% endif %}
        {% if comp.status == 2 %}
            <h4><a href="{% url 'fls:change_status' comp.id 3 %}"> Поменять статус конкурса на Оценивание</a></h4>
        {% endif %}
        {% if comp.status == 3 %}
            {% if comp.method_of_estimate == 2 or comp.method_of_estimate == 1 %}
                <h3>Информация о голосовании жюри</h3>
                <h6>Тут будет ссылка</h6>
            {% endif %}
            <a href="{% url 'fls:calculate_result' comp.id %}" class="btn btn-success">Подсчитать результаты</a>
            <h3>Ссылка на просмотр предварительных результатов</h3>
            <h4><a href="{% url 'fls:change_status' comp.id 4 %}"> Поменять статус конкурса на Закрыт</a></h4>
        {% endif %}
        {% if comp.status == 4 %}
            <a href="{% url 'fls:calculate_result' comp.id %}" class="btn btn-success">Подсчитать результаты</a>
            <h4><a href="#"> Ссылка на просмотр результатов (в будущем будет)</a></h4>
        {% endif %}
    {% endif %}
{% endblock %}