{% extends 'fls/base_template.html' %}
{% block title %}
    Конкурc {{ comp.name }}
{% endblock %}

{% block content %}
    <h3><b>Конкурс: </b>{{ comp.name }}</h3>
    <hr>
    <p><b>Курс: </b> {{ comp.get_course }}</p>
    <p><b>Описание </b> <br>{{ comp.description }}</p>
    <p><b>Статус:</b> {{ comp.get_status }}</p>
    <hr>
    <p>Необходимые параметры для участия в конкурсе</p>
    <ul>
        {% for p in comp.get_params %}
            <li><b>{{ p.name }}</b></li>
        {% endfor %}
    </ul>
    {% if  comp.get_count  == 0 %}
        {% if user.is_participant %}
            <h4>На конкурс еще не подано ни одной заявки! Будь первым!</h4>
        {% endif %}
    {% else %}
        <h4>На конкурс уже подано <b>{{ comp.get_count }} </b> заявки !</h4>
    {% endif %}
    <br>
    {% if user.is_participant %}
        <a href="{% url 'fls:load_request' comp.id %}" class="btn btn-success"> Участвовать</a>
    {% endif %}
{% endblock %}