{% extends 'fls/base_template.html' %}
{% block title %}
    Конкурc {{ comp.name }}
{% endblock %}

{% block content %}
    <h3 xmlns="http://www.w3.org/1999/html"><b>Конкурс: </b>{{ comp.name }}</h3>
    <hr>
    <p><b>Курс: </b> {{ comp.get_course }}</p>
    <p><b>Описание </b> <br>{{ comp.description }}</p>
    <p><b>Статус:</b> {{ comp.get_status }}</p>
    <hr>
    <p>Необходимые параметры для участия в конкурсе</p>
    <ul>
        {% for p in comp.get_params %}
            <li><b>{{ p.name }}</b></li>
        {% endfor %}
    </ul>
    {% if  comp.get_count  == 0 %}
        {% if user.is_participant  and comp.status == 2 %}
            <h4>На конкурс еще не подано ни одной заявки! Будь первым!</h4>
        {% endif %}
    {% else %}
        <h4>На конкурс подано <b>{{ comp.get_count }} </b> заявки !</h4>
    {% endif %}
    <br>
    {% if user.is_participant and comp.status == 2 %}
        <a href="{% url 'fls:load_request' comp.id %}" class="btn btn-success"> Участвовать</a>
    {% endif %}
    {% if user.is_organizer %}
        {% if comp.status == 1 %}
            <h3>Добавить критерии/изменить конкурс</h3>
            <h4><a href="{% url 'fls:change_status' comp.id 2 %}"> Поменять статус конкурса на Открыт</a></h4>
        {% endif %}
        {% if comp.status == 2 %}
            <h4><a href="{% url 'fls:change_status' comp.id 3 %}"> Поменять статус конкурса на Оценивание</a></h4>
        {% endif %}
        {% if comp.status == 3 %}
            <h3>Информация о голосовании жюри</h3>
            <h3>Подсчитать результаты</h3>
            <h3>Ссылка на просмотр предварительных результатов</h3>
            <h4><a href="{% url 'fls:change_status' comp.id 4 %}"> Поменять статус конкурса на Закрыт</a></h4>
        {% endif %}
        {% if comp.status == 4 %}
            <h4><a href="#"> Ссылка на просмотр результатов (в будущем будет)</a></h4>
        {% endif %}
    {% endif %}
{% endblock %}