{% extends 'fls/base_template.html' %}
{% block title %}
    Загрузка заявки на конкурс
{% endblock %}

{% block content %}
    <h3>Заявка на конкурс "{{ comp.name }}"</h3>
    <hr>
    <div class="row">
        <div class="col-md-5 div-err" hidden>
            <h4>Проверьте правильность заявки</h4>
        </div>
    </div>
    <form enctype="multipart/form-data" name="form" action="{% url 'fls:load_request' comp.id %}" method="post">
        {% csrf_token %}
        {% for c in collection %}
            <div class="card_param">
                <h3>Критерий {{ c.param.name }}</h3>
                <p><b>Описание: </b><i>{{ c.param.description }}</i></p>
                {% for sp in c.subparams %}
                    <h4>Параметр - {{ sp.name }}</h4>
                    {% if sp.type == 1 %}
                        <div class="form-group">
                            <label>Введите число/значение {% if sp.max %}
                                <i>Ограничение: не больше <span>{{ sp.max }}</span></i>{% endif %}
                                <input type="number" class="form-control numb" name="sp_{{ sp.id }}"
                                       id="sp_{{ sp.id }}">
                            </label>
                        </div>
                    {% endif %}
                    {% if sp.type == 2 %}
                        <label>Введите текст
                            <input type="text" class="form-control" name="sp_{{ sp.id }}">
                        </label>
                    {% endif %}
                    {% if sp.type == 3 or sp.type == 4 %}
                        <div class="col-xs-12">
                            <div class="file">
                                <label>Загрузите {% if sp.type == 3%} файл {% else %} фотографию{% endif %}
                                    <input type="file" class="file-upload" name="file_{{ sp.id }}">
                                </label>
                                <label>Введите подпись
                                    <input type="text" class="form-control" name="header_{{ sp.id }}">
                                </label>
                            </div>
                            <br>
                            <a href="#" style="color: #1e7e34;font-size: 24px">
                                <span class="glyphicon glyphicon-plus add_file_field"></span>
                            </a>

                        </div>
                    {% endif %}
                    {% if sp.type == 5 %}
                        <select name="sp_{{ sp.id }}">
                            <label>Выберите значение из списка
                                {% for en in sp.enum.get_values %}
                                    <option value="{{ en.id }}">{{ en.enum_key }}</option>
                                {% endfor %}
                            </label>
                        </select>
                    {% endif %}
                    {% if sp.type == 6 %}
                        <label>Введите ссылку
                            <input type="text" class="form-control" name="sp_{{ sp.id }}">
                        </label>
                    {% endif %}
                {% endfor %}
            </div>
            <hr>
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-primary labelText">
            <span> Добавить заявку </span>
        </button>
        <br>
    </form>
{% endblock %}
{% block  script %}
    <script>
        $(".card_param").mousemove(function (event) {
            $(this).css('background-color', '#d6f3f1');
        });
        $(".card_param").mouseout(function (event) {
            $(this).css('background-color', '#ffffff');
        });

        $('.container').on('change', '.numb', function () {
            if (Number($(this).parent().find("span").text()) < $(this).val()) {
                $(this).parent().parent().addClass("has-error");
            } else {
                $(this).parent().parent().removeClass("has-error");
            }
            var len = $(".form-group.has-error").length;
            if (len === 0) {
                $(".div-err").hide();
            }
        });

        $('.container').on('click', '.add_file_field', function () {
            var div_block = $(this).parent().parent().children(".file").last();
            var id = div_block.find(".file-upload").attr("name").split("_")[1];
            div_block.after("<div class=\"file\">\n" +
                "                                <label>Загрузите нужный файл/фотографию\n" +
                "                                    <input type=\"file\" class=\"file-upload\" name=\"file_" + id + "\">\n" +
                "                                </label>\n" +
                "                                <label>Введите подпись\n" +
                "                                    <input type=\"text\" class=\"form-control\" name=\"header_" + id + "\">\n" +
                "                                </label>\n" +
                "                            </div>");
        });

        $("form").submit(function (event) {
            var len = $(".form-group.has-error").length;
            if (len > 0) {
                $(".div-err").show();
                return false;
            } else {
                $("form").submit();
            }
        });
    </script>
{% endblock %}