{% extends 'fls/base_template.html' %}
{% block title %}
    Загрузка заявки на конкурс
{% endblock %}

{% block content %}
    <h3>Заявка на конкурс "{{ comp.name }}"</h3>
    <hr>
    <form name="form" action="{% url 'fls:load_request' comp.id %}" method="post">
        {% csrf_token %}
        {#    <h3>Выберите свою группу</h3>#}
        {#    <select name="group">#}
        {#        {% for g in groups %}#}
        {#            <option value="{{ g.id }}"> {{ g.name }}</option>#}
        {#        {% endfor %}#}
        {#    </select>#}
        {% for p in params %}
            <div class="card_param">
                <h3>{{ p.name }}</h3>
                <p><b>Описание: </b><i>{{ p.description }}</i></p>

                <label>Ваше значение
                    <input type="text" name="value_{{ p.id }}">
                </label>
                <label>Количество участвующих людей
                    <input type="text" name="person_{{ p.id }}">
                </label>
            </div>
            <hr>
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-primary labelText">
                                <span style="font-family: 'Comic Sans MS',monospace">
                                Добавить заявку
                                    </span>
        </button>
        <br>
    </form>
{% endblock %}
{% block  script %}
    <script>
        $(".card_param").mousemove(function (event) {
            $(this).css('background-color', '#d6f3f1');
        });
        $(".card_param").mouseout(function (event) {
            $(this).css('background-color', '#ffffff');
        });
    </script>
{% endblock %}