{% extends 'fls/base_template.html' %}
{% block title %}Метод попарного сравнения{% endblock %}

{% block content %}
    <h3>Определение весов критериев для конкурса "{{ comp.name }}"</h3>
    <hr>
    <br>
    <div class="div-info">
        <p><strong>Информация по заполнению!</strong><br>
            <strong>Менее важный</strong> - Параметр по вертикали важнее чем параметр по горизонтали <br>
            <strong>Равны</strong> - Параметр по горизитонали и вертикали равны<br>
            <strong>Более важный</strong> - Параметр по горизитонали важнее чем параметр по вертикали</p>
    </div>
    <form name="form" id="form" action="
            {% if crit %}{% url 'fls:pairwise_comparison_param' crit %}{% else %}{% url 'fls:pairwise_comparison' comp.id %}{% endif %}"
          method="post">
        {% csrf_token %}
        <table class="table table-bordered" id="itable">
            <caption class="text-center"><strong>Попарные сравнения критериев</strong></caption>
            <thead>
            <tr>
                <th scope="col"></th>
                {% for p in params %}
                    <th scope="col">{{ p }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for key, value in params.items %}
                <tr>
                    <th scope="col">{{ key }}</th>
                    {% for item in value %}
                        <th scope="col">
                            {% if item|filter_equals %}
                            {% else %}
                                <select name="rank{{ item }}" id="{{ item }}" class="cell form-control">
                                    <option selected value="-">-</option>
                                    <option value="0">Менее важный</option>
                                    <option value="0.5">Равны</option>
                                    <option value="1">Более важный</option>
                                </select>
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p class="has-error" style="font-weight:bold; color: #c10d1f; " hidden>
            Заполните все поля!</p>
        <button type="submit" id="submit" class="btn btn-primary labelText">Сохранить
        </button>
    </form>
    <br><br>
     <a href="{% url 'fls:get_comp' comp.id %}" class="btn btn-default">К странице конкурса</a>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $('.container').on('change', '.cell', function () {
                var ids = $(this).attr("id").split("_");
                var new_id = "#" + ids[1] + "_" + ids[0];
                var old_value = $(this).val();
                var color = '#79ff4d';
                $(this).css('background-color', color);
                $(new_id).css('background-color', color);
                $(".has-error").hide();
                if (old_value === "1") {
                    $(new_id).val("0");
                } else if (old_value === "0") {
                    $(new_id).val("1");
                } else if (old_value === "0.5") {
                    $(new_id).val("0.5");
                } else {
                    $(new_id).val("-");
                    $(this).css('background-color', 'white');
                    $(new_id).css('background-color', 'white');
                }
            });

            $('#submit').click(function () {
                $('form[name=form]').submit(function (e) {
                    var sub = true;
                    $(":selected").each(function () {
                        if ($(this).val() === "-") {
                            sub = false;
                            $(".has-error").show();
                            return sub;
                        }
                    });
                    return sub;
                });
            });
        });


    </script>
{% endblock %}