{% extends 'fls/base_template.html' %}
{% block title %}Профиль{% endblock %}

{% block content %}

    <h3>Профиль</h3>
    <hr>
    <h4><b>Имя:</b> {{ cust_user }}</h4>
    <h4><b>Статус:</b> {{ cust_user.get_role }}</h4>
    <h4><b>Описание:</b></h4>
    <p style="font-size: 20px; width: 40%;">{{ cust_user.description }}</p>
    {% if cust_user.is_participant %}
        <hr>
        <br>

        <a href="#" id="my_requests" role="button" class="btn btn-info">Мои заявки</a>
        <br>
        <div class="requests container" hidden>
            <br>
            <ul>
                {% for r in requests %}
                    <li><a href="{% url 'fls:get_request' r.id %}"><p>Заявка на конкурс "{{ r.competition.name }}"</p>
                    </a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if cust_user.is_organizer %}
        <div class="part_org">
            {% include "fls/part_organizer_profile.html" %}
        </div>

    {% endif %}
    {% if cust_user.is_jury %}
        <hr>
        <h3>Приглашения</h3>
        <a href="#" id="my_inv" role="button" class="btn btn-info">Показать</a>
        <div class="inv" hidden>
            {% with new_inv=cust_user.get_new_inv %}
                {% if new_inv %}
                    <h4><b>Новые</b></h4>
                    {% for inv in new_inv %}
                        <h4>Приглашение на конкурс {{ inv.competition.name }}</h4>
                        <form method="post" action="{% url 'fls:inv_change_status' inv.id 2 %}">
                            {% csrf_token %}
                            <button id="app_inv" type="submit" class="btn btn-success">Принять</button>
                        </form>
                        <form method="post" action="{% url 'fls:inv_change_status' inv.id 3 %}">
                            {% csrf_token %}
                            <button id="rej_inv" type="submit" class="btn btn-danger">Отклонить</button>
                        </form>

                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% with approve_inv=cust_user.get_app_inv %}
                {% if approve_inv %}
                    <h4><b>Принятые</b></h4>
                    {% for inv in approve_inv %}
                        <h4>Принятые приглашения на конкурс {{ inv.competition.name }}</h4>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% with reject_inv=cust_user.get_rej_inv %}
                {% if reject_inv %}
                    <h4><b>Отклоненные</b></h4>
                    {% for inv in reject_inv %}
                        <h4>Отклоненные приглашения на конкурс {{ inv.competition.name }}</h4>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        {% if comps %}
            <h3>Доступные конкурсы</h3>
            <br>
            <form action="{% url 'fls:profile' %}" method="post">
                {% csrf_token %}
                <select class="form-control" name="comp">
                    {% for c in comps %}
                        <option {% if select_comp == c.id %} selected {% endif %}
                                                             value="{{ c.id }}">{{ c.name }}</option>
                    {% endfor %}
                </select>
                <br>
                <button type="submit" class="btn btn-primary labelText">
                    <span>Применить</span>
                </button>
            </form>
            <br>
        {% else %}
            <h3>Для Вас не найдены доступные конкурсы </h3>
        {% endif %}
        {% if new_requests %}
            <h4>Новые (непросмотренные) заявки</h4>
            <ul>
                {% for r in new_requests %}
                    <li><a href="{% url 'fls:get_request' r.id %}"><p>Заявка участника
                        {{ r.participant.get_username }}</p>
                    </a></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if view_requests %}
            <h4>Оцененные заявки</h4>
            <ul>
                {% for r in view_requests %}
                    <li><a href="{% url 'fls:get_request' r.id %}"><p>Заявка
                        участника {{ r.participant.get_username }} </p>
                    </a></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if new_crits %}
            <h4>Неоцененные показатели критериев:</h4>
            <ul>
                {% for c in new_crits %}
                    <li><a href="{% url 'fls:pairwise_comparison_param' c.id %}"><p>Критерий "{{ c.name }}" </p>
                    </a></li>
                {% endfor %}
            </ul>

        {% endif %}
        {% if view_crits %}
            <h4>Оцененные показатели критериев:</h4>
            <ul>
                {% for c in view_crits %}
                    <li><a href="{% url 'fls:pairwise_comparison_param' c.id %}"><p>Критерий "{{ c.name }}" </p>
                    </a></li>
                {% endfor %}
            </ul>

        {% endif %}
    {% endif %}
{% endblock %}
{% block script %}
    <script>
        $("#my_requests").click(function () {
            $(".requests").show();
        });

        $("#my_inv").click(function () {
            $(".inv").show();
        });
        $(document).on('click', '#status_comp', function () {
            $.ajax({
                type: "get",
                url: "/fls/ajax_comp_status",
                data: {"status": $("#status").val()},
                success: function (response) {
                    $('.part_org').html(response.est);
                },
                error: function () {
                    alert("error");
                },
                complete: function (response) {

                }
            });
        });
    </script>
{% endblock %}