{% extends 'fls/base_template.html' %}
{% block title %}Профиль{% endblock %}

{% block content %}

    <h3>Профиль</h3>
    <hr>
    <h4><b>Имя:</b> {{ cust_user }}</h4>
    <h4><b>Статус:</b> {{ cust_user.get_role }}</h4>
    {% if cust_user.is_participant %}
        <h4><b>Группа:</b> {{ cust_user.group.name }}</h4>
        <hr>
        <br>

        <a href="#" id="my_requests" role="button" class="btn btn-info">Мои заявки</a>
        <br>
        <div class="requests container" hidden>
            <br>
            <ul>
                {% for r in requests %}
                    <li><a href="{% url 'fls:get_request' r.id %}"><p>Заявка на конкурс "{{ r.competition.name }}"</p>
                    </a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if cust_user.is_organizer %}
        <div class="part_org">
            {% include "fls/part_organizer_profile.html" %}
        </div>

    {% endif %}
    {% if cust_user.is_jury %}
        <hr>
        <h4>Доступные конкурсы</h4>
        <br>
        <form action="{% url 'fls:profile' %}" method="post">
            {% csrf_token %}
            <select class="form-control" name="comp">
                {% for c in comps %}
                    <option {% if select_comp == c.id %} selected {% endif %} value="{{ c.id }}">{{ c.name }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit" class="btn btn-primary labelText">
                <span>Применить</span>
            </button>
        </form>
        <br>
        {% if new_requests %}
            <h4>Новые (непросмотренные) заявки</h4>
            <ul>
                {% for r in new_requests %}
                    <li><a href="{% url 'fls:get_request' r.id %}"><p>Заявка
                        группы {{ r.participant.group }} {{ r.participant.group.faculty }}</p>
                    </a></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if view_requests %}
            <h4>Оцененные заявки</h4>
            <ul>
                {% for r in view_requests %}
                    <li><a href="{% url 'fls:get_request' r.id %}"><p>Заявка
                        группы {{ r.participant.group }} {{ r.participant.group.faculty }}</p>
                    </a></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}
{% block script %}
    <script>
        $("#my_requests").click(function () {
            $(".requests").show();
        });

        $(document).on('click', '#status_comp', function () {
            $.ajax({
                type: "get",
                url: "/fls/ajax_comp_status",
                data: {"status": $("#status").val()},
                success: function (response) {
                    $('.part_org').html(response.est);
                },
                error: function () {
                    alert("error");
                },
                complete: function (response) {

                }
            });
        });
    </script>
{% endblock %}