{% extends 'fls/base_template.html' %}
{% block title %}Заявка на конкурс {{ request.competition.name }}{% endblock %}
{% block style %}

    * {
    box-sizing: border-box;
    }

    .column {
    float: left;
    width: 20%;
    padding: 5px;
    }

    .row::after {
    content: "";
    clear: both;
    display: table;
    }

    .custom_image {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    }

    .custom_image:hover {opacity: 0.7;}

    .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    }

    .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    }

    .cust_caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    }


    .modal-content, .cust_caption  {
    animation-name: zoom;
    animation-duration: 0.6s;
    }

    @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
    }

    .close {
    position: absolute;
    top: 70px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    }

    .close:hover,
    .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    }

    @media only screen and (max-width: 700px){
    .modal-content {
    width: 100%;
    }
    }
{% endblock %}
{% block content %}
    <h3>Заявка</h3>
    <hr>

    <h4>Конкурс - {{ request.competition.name }}</h4>
    <h4>Загрузил пользователь {{ request.participant.get_username }}</h4>
    <h4>Содержание заявки</h4>
    <div class="container">
        <form id="form" method="post" action="{% url 'fls:estimate_req' request.id %}">
            {% csrf_token %}
            {% for v in  values %}
                {% with param=v.0 sbvalues=v.1 est=v.2 %}
                    <h4>Критерий <b>'{{ param.name }}'</b></h4>
                    {% for sb in sbvalues %}
                        <h4> Параметр - {{ sb.get_name }} <strong>{% if sb.is_number %}
                            - {{ sb.value }}
                        {% endif %} {% if sb.is_enum %}  - {{ sb.enum_val.enum_key }}{% endif %}</strong></h4>
                        {% if sb.is_photo %}
                            <div class="row">
                                {% for f in sb.get_files %}
                                    <div class="column">
                                        <img class="custom_image" id="{{ f.id }}" src="{{ f.image.url }}"
                                             alt="{{ f.header_for_file }}"
                                             style="width:100%;">
                                    </div>
                                    <div id="modal_{{ f.id }}" class="modal">
                                        <span class="close">&times;</span>
                                        <img class="modal-content" id="{{ f.id }}">
                                        <div class="cust_caption">{{ f.header_for_file }}</div>
                                    </div>
                                {% endfor %}
                            </div>


                        {% endif %}
                        {% if sb.is_file %}
                            {% for f in sb.get_files %}
                                <hr>
                                <h4><a href="{{ f.file.url }}">Посмотреть файл {{ f.header_for_file }}</a></h4>
                                <h4><a href="{{ f.file.url }}" download>Скачать файл {{ f.header_for_file }} в
                                    формате {{ f.get_ext }}</a></h4>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <div class="form-group for_form" hidden>
                        <label>Оценка критерия
                            <input type="number" class="form-control" name="est_val_{{ param.id }}"
                                   value="{{ est }}">
                        </label>
                    </div>
                    <hr>
                {% endwith %}
            {% endfor %}
            <div class="for_button" hidden>
                <button type="submit" class="btn btn-primary labelText">
                    <span>Сохранить</span>
                </button>
            </div>
        </form>
    </div>

    <br>


    {% if request.participant == user %}
        <button type="button" class="btn">Редактировать заявку</button>
        <br>
        <br>
        <form method="post" action="{% url 'fls:delete_req' request.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Удалить заявку</button>
        </form>
    {% endif %}
    {% if user.is_jury  and request.competition.status == 3 and flag %}
        {% if estimate_flag %}
            <button id="edit" type="button" class="btn">Редактировать оценку</button>
            <br><br>
            <form method="post" action="{% url 'fls:estimate_del' request.id %}">
                {% csrf_token %}
                <button id="delete" type="submit" class="btn btn-danger">Удалить оценку</button>
            </form>
        {% else %}
            <h4>Вы еще не оценили заявку </h4>
            <br>
            <button id="estimate" type="button" class="btn">Оценить заявку</button>
        {% endif %}
    {% endif %}

{% endblock %}
{% block script %}
    <script>
        $("#estimate").click(function () {
            $(".for_button").show();
            $(".for_form").show();
            $('#estimate').hide();
        });
        $("#edit").click(function () {
            $(".for_button").show();
            $(".for_form").show();
            $("#edit").hide();
            $("#delete").hide();
        });
        $(".custom_image").click(function () {
            var modal = $("#modal_" + $(this).attr("id"));
            modal.css("display", "block");
            modal.find("img").attr("src", $(this).attr("src"));
        });
        $(".close").click(function () {
            var modal = $(this).parent();
            modal.css("display", "none");
        });
    </script>
{% endblock %}